*.tfstate
*.tfstate.backup
.terraform/
*/output/
*.pem
*.iml
.idea/
.DS_Store
.aws-sam/
.serverless.template

.classpath
.project
.settings/
.tmp

env.json
template.yaml
template.yml

package-lock.json
node_modules/
.nvmrc

dist/
gen

listing-api.zip







